<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Final Project</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <style>
​
      h1{
        font-size:1.1em;
      }
      body{
        width:50%;
        margin:auto;
      }
​
    </style>
</head>
<body>
<h2>Your Appointment Details</h2>
<h1>
    Estimated Day of Appointment
</h1>
​
{{output.date_of_appointment}}
​
<h1>
    Estimated Time of Appointment
</h1>
​
{{output.time_of_appointment}}
​
<h1>
    Estimated Cost of Appointment
</h1>
​
{{output.service_type}}
​
<h1>
    Employee Name
</h1>
​
{{output.freeStylist}}
​
​
<script src="static/script.js"></script>
</body>
</html>